body{
  margin: 0;
  padding: 0;
  font-family: 'Righteous';
  height: 500px;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 300px;

}

header {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/background.jpg");
  height: 100px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

p{
  color: black;
  text-align: center;
  font-size: 25px;
}
p.label{
  color: black;
  font-size: 25px;
}
a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
ul{
  text-align: center;
}

li{
  list-style-type: none;
}

li a{
  color: white;
}

img{
  text-align: center;
  width: 300px;
}

div{
  color: white;
}

div.stores h2{
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 40px;
}

div.your-interests{
  border: 1px solid white;
}

.row{
  max-width: 1580px;
  margin: auto;
}

.titlephrase h1{
  font-family: 'Righteous';
  font-size: 100px;
  color: white;
  opacity: 0.5;
  text-align: center;
  margin-top: 250px;
  transition-duration: 0.3s;
}

.titlephrase h1:hover{
  font-size: 105px;
  opacity: 1;
  transition-duration: 0.3s;
}

.titlephrase h2{
  font-family: 'Righteous';
  font-size: 50px;
  opacity: 0.5;
  color: black;
  text-align: center;
  transition-duration: 0.3s;
}

.titlephrase h2:hover{
  font-size: 55px;
  opacity: 1;
  transition-duration: 0.3s;
}

div.titlephrase{
  margin-left: relative;
  margin-right: relative;
}

.button{
  text-align: center;
}

.btn{
  border: 1px solid white;
  padding : 10px 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
  font-size: 13px;
  text-transform: uppercase;
}

.btn-one{
  background-color: inherit;
  font-family: "Righteous";
}

.btn-one:hover{
  background-color: white;
  color: inherit;
}

.btn-two{
  background-color: inherit;
  font-family: "Righteous";
}

.btn-two:hover{
  background-color: white;
  color: inherit;
}

.main-nav{
  overflow: hidden;
}

.sub-nav{
  float: left;
  list-style: none;
  margin-top: 30px;
}

.sub-nav li{
  display: inline-block;
}

.sub-nav li a{
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding: 5px;
  border: 1px solid white;
  border-radius: 3px;
  font-family: "Righteous", cursive;
  font-size: 15px;
}

.sub-nav li.active a{
  background-color: white;
  color: rgba(0, 0, 0, 1);
  border: 1px solid white;
  border-radius: 3px;
}

.sub-nav li a:hover{
  background-color: white;
  color: rgba(0, 0, 0, 1);
  border: 1px solid white;
  border-radius: 3px;
  transition-duration: 0.3s;
}

.sub-nav-contents{
  float: center;
  color: white;
}

.sub-nav-contents li {
  text-decoration: none;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo img{
  width: 50px;
  height: auto;
  float: left;
  margin: 15px;
  transition-duration: 0.3s;
}

.logo img:hover{
  width: 55px;
  transition-duration: 0.3s;
}

section.shops{
  background-color: white;
  border-radius: 7px;
  width: 230px;
  height: 350px;
  margin: 5px;
  text-align: center;
  color: black;
  float: left;
}

ul.sub-nav-contents{
  display: none;
}

.sub-nav:hover ul.sub-nav-contents{
  display: block;
}

div.magazines{
  list-style: none;
  display: inline;
}

div.magazines section{
    margin: 20px;
}

/* changed by Wonbeen on October 12. */
div.sign-in-up, div.experience, div.your-interests{
  margin-left: 150px;
  margin-right: 150px;
  border: 10px solid white;
}
div.sign-in{
  float: left;
}
div.sign-up{
  float: left;
}
#profile{
  text-align: center;
}
#sign-up{
  text-align: center;
  color: white;
}

#sign-up input.btn{
  font-family: "Righteous";
  margin-bottom: 5px;
  background: inherit;
}

#sign-up input.btn:hover{
  background-color: white;
  color: black;
}

#sign-in{
  text-align: center;
  color: white;
}

input.btn{
  font-family: "Righteous";
  margin-top: 5px;
  background: inherit;
}
input.btn:hover{
  background-color: white;
  color: black;
}

/* change was made by Wonbeen* on September 5*/
div.your-interests{
  text-align: center;
  border: 10px solid white;
  height: relative;
  margin-top, margin-bottom: 10px;
}

div.your-interests div{
  text-align: center;
  height: relative;
  margin: 15px;
  padding: 15px;
  border: 1px solid white;
  float: center;
}

#status-message{
  font-family: "Righteous";
  background: white;
}

img.moving-gif-1{
  width: 50px;
  height: auto;
}

img.moving-gif-2{
  width: 80px;
  height: auto;
}

table{
  text-align: center;
  margin: 0px 50px;
}

th
{
  border-bottom: 5px solid white;
  text-align: center;
  margin: 20px auto;
}

td
{
  border-bottom: 5px solid white;
  width: 350px;
  text-align: center;
  margin: 20px auto;
}

input#user-name, input#pw, input#country{
  width: 70%;
}

textarea{
  width: 70%;
}

div.experience{
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border: 10px solid white;
}

* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
