body{
  margin: 0;
  padding: 0;
  font-family: 'Righteous';
  height: 500px;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 300px;
  min-height: 600px;

}

header {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/background.jpg");
  height: 100px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

p{
  color: black;
  font-size: 10px;
}
p.label{
  color: black;
  margin: 5px 5px;
  font-size: 15px;
}
a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
ul{
  text-align: center;
}

li{
  list-style-type: none;
}

li a{
  color: white;
}

img{
  text-align: center;
  width: 300px;
}

div.stores#online-stores{
  text-align: center;
  border: 5px solid white;
  width: relative;
  height: relative;
  margin: 50px;
}

div.stores#offline-stores{
  text-align: center;
  border: 5px solid white;
  width: relative;
  height: relative;
  margin: 50px;
}

div.stores#offline-stores div.offline{
  text-align: center;
  height: relative;
  width: relative;
  margin: 15px;
  padding: 15px;
  border: 5px solid white;
  display: inline-block;
}

div.stores#online-stores div.online{
  text-align: center;
  height: relative;
  width: relative;
  margin: 15px;
  padding: 15px;
  border: 5px solid white;
  display: inline-block;
}

section.shops{
  background-color: white;
  border-radius: 7px;
  min-width: 230px;
  min-height: 350px;
  height: relative;
  margin: 5px;
  text-align: center;
  color: black;
  float: left;
}

div.stores h2{
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 40px;
}

.row{
  max-width: 1580px;
  margin: auto;
}

.titlephrase h1{
  font-family: 'Righteous';
  font-size: 100px;
  color: white;
  opacity: 0.5;
  text-align: center;
  margin-top: 250px;
  transition-duration: 0.3s;
}

.titlephrase h1:hover{
  font-size: 105px;
  opacity: 1;
  transition-duration: 0.3s;
}

.titlephrase h2{
  font-family: 'Righteous';
  font-size: 50px;
  opacity: 0.5;
  color: white;
  text-align: center;
  transition-duration: 0.3s;
}

.titlephrase h2:hover{
  font-size: 55px;
  opacity: 1;
  transition-duration: 0.3s;
}

div.titlephrase{
  margin-left: relative;
  margin-right: relative;
}

.button{
  text-align: center;
}

.btn{
  border: 1px solid white;
  padding : 10px 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
  font-size: 13px;
  text-transform: uppercase;
}

.btn-one{
  background-color: inherit;
  font-family: "Righteous";
}

.btn-one:hover{
  background-color: white;
  color: inherit;
}

.btn-two{
  background-color: inherit;
  font-family: "Righteous";
}

.btn-two:hover{
  background-color: white;
  color: inherit;
}

.main-nav{
  overflow: hidden;
}

.sub-nav{
  float: left;
  list-style: none;
  margin-top: 30px;
}

.sub-nav li{
  display: inline-block;
}

.sub-nav li a{
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding: 5px;
  border: 1px solid white;
  border-radius: 3px;
  font-family: "Righteous", cursive;
  font-size: 15px;
}

.sub-nav li.active a{
  background-color: white;
  color: rgba(0, 0, 0, 1);
  border: 1px solid white;
  border-radius: 3px;
}

.sub-nav li a:hover{
  background-color: white;
  color: rgba(0, 0, 0, 1);
  border: 1px solid white;
  border-radius: 3px;
  transition-duration: 0.3s;
}

.sub-nav-contents{
  float: center;
  color: white;
}

.sub-nav-contents li {
  text-decoration: none;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo img{
  width: 50px;
  height: auto;
  float: left;
  margin: 15px;
  transition-duration: 0.3s;
}

.logo img:hover{
  width: 55px;
  transition-duration: 0.3s;
}

ul.sub-nav-contents{
  display: none;
}

.sub-nav:hover ul.sub-nav-contents{
  display: block;
}

.shops img{
  width: 150px;
  height: auto;
}

.skiddersreview{
  border: 2px;
}

.skiddersreview img{
  width: 15px;
  height: auto;
}

ol{
  margin-right: 40px;
}

ol li{
  text-align: center;
  font-size: 10px;
}
